<div class="menus flex">
  <div class="image-container flex flex-center">
    <img src="assets\images\spotify-logo.png" alt="logo spotify" />
  </div>
  <div class="menu-container flex options">
    <app-menu-button
      [description]="'Home'"
      (click)="clickButtonMenu('home')"
      [selected]="selectedMenu === 'home'"
    >
      <fa-icon [icon]="homeIcon"></fa-icon>
    </app-menu-button>
    <app-menu-button
      [description]="'Pesquisar'"
      (click)="clickButtonMenu('research')"
      [selected]="selectedMenu === 'research'"
    >
      <fa-icon [icon]="searchIcon"></fa-icon>
    </app-menu-button>
    <app-menu-button
      [description]="'Artistas'"
      (click)="clickButtonMenu('artist')"
      [selected]="selectedMenu === 'artist'"
    >
      <fa-icon [icon]="artistIcon"></fa-icon>
    </app-menu-button>
  </div>

  <div class="menu-container flex">
    <span class="playlist-title">Suas Playlist</span>
  </div>

  <div class="playlist-scroll">
    <app-menu-button
      *ngFor="let playlist of playlists"
      [description]="playlist.name"
      [selected]="selectedMenu === playlist.id"
      (click)="clickPlaylist(playlist.id)"
    >
      <fa-icon [icon]="playlistIcon"></fa-icon>
    </app-menu-button>
  </div>
</div>
<div class="userInfo">
  <app-footer-user></app-footer-user>
</div>
