@import "variables";

.suggestions {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px 0px 3px;
  gap: 8px;

  .suggestions-itens {
    padding: 8px;
    font-size: 0.9rem;
    font-weight: 400;
    border: 1px solid $transparentBlack-30;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: $background-color2;
    }
  }
}
