<div class="container card p-10">
  <div
    class="image"
    [style.background-image]="'url(' + music.album.imageUrl + ')'"
  ></div>
  <div class="discription">
    <span class="music-title">{{ music.title }}</span>
  </div>
  <div class="duration">
    <div class="bar">
      <progress value="0" max="1"></progress>
      <span class="point"></span>
    </div>
  </div>
  <div class="time">
    <span class="start">00:00</span>
    <span class="end">{{ music.time }}</span>
  </div>
  <div class="controls">
    <div class="buttons">
      <fa-icon [icon]="iconBackArrow" (click)="returnMusic()"></fa-icon>
      <fa-icon
        class="iconPlayer"
        [icon]="iconPlayerCard"
        (click)="togglePlayPause()"
      ></fa-icon>
      <fa-icon [icon]="iconPassArrow" (click)="nextMusic()"></fa-icon>
    </div>
  </div>
</div>
