<div class="container card p-10">
  <div
    class="image"
    [style.background-image]="'url(' + currentTrack.album.imageUrl + ')'"
  ></div>
  <div class="discription">
    <span class="music-title">{{ currentTrack.title }}</span>
  </div>
  <div class="controls">
    <div class="buttons">
      <fa-icon
        [icon]="iconPreviousTrack"
        (click)="playPreviousTrack()"
      ></fa-icon>
      <fa-icon
        class="iconPlayer"
        [icon]="playPauseButtonIcon"
        (click)="togglePlayPause()"
      ></fa-icon>
      <fa-icon [icon]="iconNextTrack" (click)="playNextTrack()"></fa-icon>
    </div>
  </div>
</div>
