@import "variables";

.container {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: $transparentBlack-70;
  border-radius: 10px;
  color: $background-color2;

  .image {
    height: 75%;
    border-radius: 10px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px rgb($background-color2, 0.3);
  }

  .discription {
    width: 100%;
    padding-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

    .music-title {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  .controls {
    flex-grow: 1;

    .buttons {
      width: 100%;
      height: 100%;
      padding: 0px 80px;
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      align-items: center;

      .iconPlayer {
        font-size: 2.5rem;
        color: rgb($primary-color, 0.9);
      }

      * {
        cursor: pointer;
      }
    }
  }
}
