<div class="container card p-10">
  <div
    class="image"
    [style.background-image]="'url(' + music.album.imageUrl + ')'"
  ></div>
  <span class="music-title"> {{ music.title }}</span>
  <div class="controls">
    <div class="buttons">
      <fa-icon [icon]="iconBackArrow" (click)="returnMusic()"></fa-icon>
      <fa-icon
        class="iconPlayer"
        [icon]="iconPlayerCard"
        (click)="togglePlayPause()"
      ></fa-icon>
      <fa-icon [icon]="iconPassArrow" (click)="nextMusic()"></fa-icon>
    </div>
  </div>
</div>
