<div class="my-songs">
  <span class="title-bg mt-4"> Top 5 Artistas </span>

  <app-top-artist class="mt-2 d-block"></app-top-artist>

  <span class="title-bg mt-4"> Musicas Curtidas </span>

  <table class="table m-3">
    <thead>
      <tr>
        <th class="w-5">#</th>
        <th class="w-35">Titulo</th>
        <th class="w-25">Artistas</th>
        <th class="w-10">Tempo</th>
        <th class="w-20">Album</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let music of musics"
        (click)="playMusic(music)"
        [class.execute]="music.id === currentMusic.id"
      >
        <td><fa-icon class="play" [icon]="playIcon"></fa-icon></td>
        <td>{{ music.title }}</td>
        <td>{{ getArtist(music) }}</td>
        <td>{{ music.time }}</td>
        <td>{{ music.album.name }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="right-panel">
  <app-right-panel></app-right-panel>
</div>
