<input
  type="text"
  [formControl]="researchField"
  placeholder="Artistas, Músicas, Playlists"
/>
<div class="resultSearch flex" *ngIf="resultOfSearch; else notFound">
  <div class="resultSearch-item artist">
    <img class="image-artist" [src]="artist.imageUrl" />
    <div class="legend flex">
      <span>{{ artist.name }}</span>
      <span>Artista</span>
    </div>
  </div>
  <div class="resultSearch-item playlist" *ngFor="let playlist of playlists">
    <img class="image" [src]="playlist.imageUrl" />
    <div class="legend flex">
      <span>{{ playlist.name }}</span>
      <span>Playlist</span>
    </div>
  </div>
  <div
    class="resultSearch-item music"
    *ngFor="let music of musics"
    (click)="playMusic(music)"
  >
    <img class="image" [src]="music.album.imageUrl" />
    <div class="legend flex">
      <span>{{ music.title }}asdasdassdfghjkljhgfdssdfghjklkjhgrew</span>
      <span>Música</span>
    </div>
  </div>
</div>
<ng-template #notFound>
  <app-suggestions-search
    (dataEmitter)="suggestion($event)"
  ></app-suggestions-search>
</ng-template>
