@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "variables.scss"; // vairáveis de cor scss

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}

.title {
  color: $primary-color;
  display: block;
  font-weight: bold;

  &-bg {
    @extend .title;
    font-size: 2.2rem;
  }

  &-md {
    @extend .title;
    font-size: 1.4rem;
  }
}

.mt {
  @for $i from 1 to 10 {
    &-#{$i} {
      margin-top: #{$i}vh;
    }
  }
}
