@import "variables";

:host {
  display: flex;

  .table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
    border-collapse: separate;
  }

  .play {
    color: $primary-color;
    font-size: 0.5rem;
  }

  thead {
  }
}
