$primary-color: #1ed760;
$background-color: #fbfef4;
$background-color2: #fff;

$transparentBlack-80: #000000ea;
$transparentBlack-70: #000000b0;
$transparentBlack-30: #0000004d;
$transparentBlack-20: #00000033;
$transparentBlack-03: #00000008;
