@import "variables";

:host {
  input {
    width: 100%;
    padding: 10px 5px;
    border-radius: 8px;
    border-color: $transparentBlack-30;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: $primary-color;

    &::placeholder {
      color: $transparentBlack-30;
      font-size: 0.9rem;
    }

    &:focus,
    &:active {
      border: 2px solid $primary-color;
    }
  }

  .suggestions {
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 15px;

    .suggestions-item {
      width: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;

      .image-artist {
        width: 60px;

        border-radius: 50%;
      }

      .image {
        width: 60px;
        border-radius: 10px;
      }

      .legend {
        flex-direction: column;
        padding-left: 15px;

        span {
          &:first-child {
            font-size: 1rem;
            font-weight: 500;
          }

          &:not(:first-child) {
            font-size: 0.8rem;
            font-weight: 300;
          }
        }
      }
    }
  }
}
