<input
  type="text"
  [(ngModel)]="researchField"
  placeholder="Artistas, Músicas, Playlists"
  (keyup.Enter)="setAndSearch(researchField)"
/>
<div class="suggestions flex" *ngIf="resultOfSearch">
  <div class="suggestions-item artist">
    <img class="image" [src]="artist.imageUrl" />
    <div class="legend flex">
      <span>{{ artist.name }}</span>
      <span>Artista</span>
    </div>
  </div>
  <div class="suggestions-item playlist" *ngFor="let playlist of playlists">
    <img class="image" [src]="playlist.imageUrl" />
    <div class="legend flex">
      <span>{{ playlist.name }}</span>
      <span>Playlist</span>
    </div>
  </div>
  <div
    class="suggestions-item music"
    *ngFor="let music of musics"
    (click)="playMusic(music)"
  >
    <img class="image" [src]="music.album.imageUrl" />
    <div class="legend flex">
      <span>{{ music.title }}</span>
      <span>Música</span>
    </div>
  </div>
</div>
