<input
  type="text"
  [(ngModel)]="researchField"
  placeholder="Artistas, Músicas, Playlists"
  (keyup.Enter)="setAndSearch(researchField)"
/>
<div class="flex suggestions" *ngIf="resultOfSearch === true">
  <div class="artist">
    <img class="image-artist" [src]="artist.imageUrl" />
    <span>{{ artist.name }}</span>
  </div>
  <div class="playlist" *ngFor="let playlist of playlists">
    <img class="image" [src]="playlist.imageUrl" />
    <span>{{ playlist.name }}</span>
  </div>
  <div class="music" *ngFor="let music of musics">
    <img class="image" [src]="music.album.imageUrl" />
    <span>{{ music.title }}</span>
  </div>
</div>
